*/{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

body {
    width: 100vw;
}

.cabecera {
    width: 100vw;
    background-color: antiquewhite;
}

.cabecera h1{
    text-align: center;
}

.cabecera p {
    text-align: center;
}

main {
    display: flex;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.main_presentacion{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    }

.main_presentacion p {
        font-size: 1,8rem;
        color: darkgrey;
        display: flex;
    
 }

sidebar .main_section_las_post{
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: cadetblue;
}

.main_article_last_post{
    width: 50vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

article picture{
    width: 250px;
    height: 200px;
}
h1{
    font-size: 3rem;
    color: blue;
}
